@font-face {
  font-family: "iconfont"; /* Project id 4702154 */
  src: url('iconfont.woff2?t=1729355446447') format('woff2'),
       url('iconfont.woff?t=1729355446447') format('woff'),
       url('iconfont.ttf?t=1729355446447') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youjiantou:before {
  content: "\e658";
}

.icon-youjiantou1:before {
  content: "\e624";
}

.icon-youjiantou2:before {
  content: "\e602";
}

.icon-backspaceoutline:before {
  content: "\e797";
}

.icon-xiugaiziliao:before {
  content: "\e7e0";
}

.icon-ziyuanxhdpi:before {
  content: "\e648";
}

.icon-xiugai:before {
  content: "\e627";
}

.icon-xiugai1:before {
  content: "\e606";
}

.icon-jianpanshouqi:before {
  content: "\e610";
}

.icon-xiugai2:before {
  content: "\e607";
}

.icon-suijibofang:before {
  content: "\e623";
}

.icon-single:before {
  content: "\e600";
}

.icon-danquxunhuan:before {
  content: "\e66d";
}

.icon-changge:before {
  content: "\e601";
}

.icon-xiaoxiduilie:before {
  content: "\e636";
}

.icon-changge1:before {
  content: "\e661";
}

.icon-duilieguanli:before {
  content: "\e603";
}

.icon-suijibofang1:before {
  content: "\e604";
}

.icon-bofangduilie:before {
  content: "\e605";
}

.icon-yinliang-F:before {
  content: "\e652";
}

.icon-jingyin-F:before {
  content: "\e653";
}

.icon-shoucangjia:before {
  content: "\e656";
}

.icon-shouye2:before {
  content: "\e7c8";
}

.icon-shoucangjia1:before {
  content: "\e620";
}

.icon-shouye-shouye:before {
  content: "\e618";
}

.icon-xiayishou:before {
  content: "\e647";
}

.icon-next-fill:before {
  content: "\e6bb";
}

.icon-zanting:before {
  content: "\e619";
}

.icon-zanting1:before {
  content: "\e693";
}

.icon-icon_play:before {
  content: "\e60f";
}

.icon-search:before {
  content: "\e616";
}

.icon-tansuo3:before {
  content: "\e63e";
}

.icon-tansuo3-copy:before {
  content: "\ee34";
}

.icon-search-copy:before {
  content: "\ee39";
}

.icon-dianzan2:before {
  content: "\e62a";
}

.icon-a-dianzan2:before {
  content: "\ebf9";
}

.icon-dianzan2-copy:before {
  content: "\ee36";
}

.icon-tansuoxuanzhong:before {
  content: "\e621";
}

.icon-tansuo:before {
  content: "\e622";
}

.icon-shouye:before {
  content: "\e67e";
}

.icon-tansuo1:before {
  content: "\e631";
}

.icon-dianzan:before {
  content: "\e61c";
}

.icon-tuichu:before {
  content: "\e6df";
}

.icon-chuku:before {
  content: "\e609";
}

.icon-tansuo2:before {
  content: "\e6a4";
}

.icon-tuichu1:before {
  content: "\e60d";
}

.icon-ziyuan:before {
  content: "\e69b";
}

.icon-tuichu2:before {
  content: "\e60e";
}

.icon-kucunguanli:before {
  content: "\e628";
}

.icon-shouye1:before {
  content: "\ee33";
}

.icon-dianzan-copy:before {
  content: "\ee35";
}

.icon-kucunguanli-copy:before {
  content: "\ee37";
}

.icon-tuichu2-copy:before {
  content: "\ee38";
}

.icon-tansuo1-copy:before {
  content: "\ee3a";
}

