@mixin updateInput () {
  .el-input{
    ::v-deep .el-input__inner{
      background-color: var(--el-input);
      border: 1px solid var(--el-input-border);
      &:hover{
        border: 1px solid var(--el-input-hover);
      }
    }
  }
}
