html[data-theme='dark'] {
  --theme-color: #409EFF;
  //--aside-background-color: #151b23;
  --aside-background-color: #11161c;
  //--aside-background-color: #212830;
  //--main-background-color: #151b23;
  //--main-background-color: #141414;
  --main-background-color: #0f1011;
  --fill-color: #9198a1;
  --fill-no-active: #000;
  --fill-hover-color: #409EFF;
  --active-color: rgba(83, 85, 89, 0.33);
  --text-color: #d1d7e0;
  --text-hover-color: #fff;
  --border: #212121;
  --collect-item-color: #797979;

  --playlist-img-fill: #d1d7e0;
  --nav-bg: rgba(83, 85, 89, 0.33);
  --singer-card-bg: #1a212a;
  --singer-card-bg-h: #212830;

  --el-input: #212830;
  --el-input-border: #212121;
  --el-input-hover: #409EFF;
  --lyric-bg: rgba(21, 27, 35, 0.5);


  --info-text: #ffffff;
  --block: #212830;
  --block-hover: #29303c;
  --border-color: #FFFFFF33;


  --label-bg: #61666D;
  --label-color: ;
  --active-bg: #1b2735;
  --article-hover-border: 0 2px 4px rgba(74, 74, 74, 0.1);
  --article-hover-bg: #202020;


  --gradation-color: #0f1011;
  --login-box-shadow: 0 0 100px -40px #ccc;

  //--follow-item-hover-color:

  //#212121

  --body-color: #2b2b2b;
  --text-color1: #fff;
  --text-color2: #c5bdbd;
  --border-line: #414243;
  --header-back-color: rgb(15, 15, 15);
  --article-color: rgb(153, 153, 153);
  --box-title_color: #BDBDBD;
  --text-color3: #303030;
  --comment-box: #303030;
  --im-user-box-backgroudColor: #FF80AB;
  --im-box-backgroudColor: #9CCC65;
  --im-backgroudColor: #323644;
  --hover-color: #414349;
  --tips-backgroud-color: #414349;
  --article-structure-backcolor: #606266;
  --friend-tip-color: #606266;
  --article-srect-background: repeating-linear-gradient(145deg, #000, #000 15px, #303133 0, #303133 25px);
  --say-background: #303133;
  --footer-background-color: #232323e0;
  --forum-background-color: #303133;
  --article-table-back-color: #000;
  --article-table-border-color: #303133;
}

:root {
  --theme-color: #409EFF;
  --aside-background-color: #fcfcfc;
  --main-background-color: #fff;
  --fill-color: #000000;
  --fill-no-active: #dfdfdf;
  --fill-hover-color: #409EFF;
  --active-color: #dcdcdc;
  --text-color: #000;
  --text-hover-color: #fff;
  //--border: #DCDFE6;;
  --collect-item-color: #E4E7ED;

  --playlist-img-fill: #d1d7e0;
  --nav-bg: #409EFF;
  --singer-card-bg: #f1f1f1;
  --singer-card-bg-h: #e3e3e3;

  --el-input-border: #DCDFE6;
  --el-input-hover: #409EFF;
  --lyric-bg: rgba(166, 170, 180, 0.5);

  --info-text: #fff;
  --block: #e5e5e5;
  --block-hover: #f7f7f7;
  --border-color: #00000033;


  --label-bg: #F1F2F3;
  --label-color: #61666D;
  --active-bg: #f2f2f2;
  --article-hover-border: 0 2px 4px rgba(0,0,0,0.1);
  --article-hover-bg: #f5f5f5;


  --login-box-shadow: 0 0 100px -40px #ccc;
  --gradation-color: #fff;



  --body-color: linear-gradient(90deg, rgba(247, 149, 51, .1), rgba(243, 112, 85, .1) 15%, rgba(239, 78, 123, .1) 30%, rgba(161, 102, 171, .1) 44%, rgba(80, 115, 184, .1) 58%, rgba(16, 152, 173, .1) 72%, rgba(7, 179, 155, .1) 86%, rgba(109, 186, 130, .1));
  --text-color1: #272222;
  --text-color2: #c5bdbd;
  --border-line: #e4e7ed;
  --header-back-color: hsla(0, 0%, 100%, .65);
  --article-color: #303133;
  --box-title_color: #333333;
  --text-color3: #f2f6fc;
  --comment-box: #f5f5f5;
  --im-user-box-backgroudColor: #1DE9B6;
  --im-box-backgroudColor: #a6c6f7;
  --im-backgroudColor: #dcdfe6;
  --hover-color: #dcdfe6;
  --tips-backgroud-color: #ecf8ff;
  --article-structure-backcolor: #ecf5ff;
  --friend-tip-color: #f5f5f5;
  --article-srect-background: repeating-linear-gradient(145deg, #f2f6fc, #f2f6fc 15px, #fff 0, #fff 25px);
  --say-background: #f7f7f7;
  --footer-background-color: rgba(255, 255, 255, 0.8);
  --forum-background-color: #f2f3f5;
  --article-table-border-color: #fffdf9;
  --article-table-back-color: #fff3e0;
}
